@import '../../block/config/_const';

.b-header
{
    padding: 10px 0 15px;
    background: $actualAppColorTheme;

    &__title
    {
        font-family: $euclidCircularLight;
        font-size: 14px;
        line-height: 1;
        text-align: center;
        color: #fff;
        width: max-content;
        margin: 0 auto;
    }
}