@import '../../block/config/_const';

.b-header
{
    padding: 5px 0 15px;
    background: #c44728;

    &__title
    {
        font-size: 16px;
        line-height: 1;
        color: #fff;
        text-align: center;
        font-family: $euclidCircularLight;
    }
}