.tabs_button
{
    position: relative;
    width: 32px;
    height: 32px;
    margin: 0 30px 0 0;
    cursor: pointer;
    transition: 0.3s;
    opacity: 0.75;
    border: none;
    background: transparent;
}

.tabs_button:last-child
{
    margin: 0;
}

.tabs_button:hover
{
    transition: 0.3s;
    opacity: 1;
}

.tabs_button_new_presentation
{
    top: 3px;
    background: url('/src/upload/icon/new.png') no-repeat center center;
    background-size: cover;
}

.tabs_button_add_slide
{
    background: url('/src/upload/icon/add.png') no-repeat center center;
    background-size: cover;
}

.tabs_button_delete_slide
{
    background: url('/src/upload/icon/delete.png') no-repeat center center;
    background-size: cover;
}

.tabs_button_slide_up
{
    transform: rotateX(180deg);
    background: url('/src/upload/icon/move.png') no-repeat center center;
    background-size: cover;
}

.tabs_button_slide_down
{
    background: url('/src/upload/icon/move.png') no-repeat center center;
    background-size: cover;
}

.tabs_button_add_img_wrapper
{
    position: relative;
    z-index: 1;
    width: 32px;
    height: 32px;
    margin-right: 30px;
    transition: .3s;
    opacity: .75;
    background: url('/src/upload/icon/img.png') no-repeat center center;
    background-size: cover;
}

.tabs_button_add_img_wrapper:hover
{
    transition: .3s;
    opacity: 1;
    cursor: pointer;
}

.tabs_button_add_img
{
    position: absolute;
    z-index: -1;
    visibility: hidden;
    opacity: 0;
}

.tabs_button_add_img:hover
{
    z-index: -1;
    opacity: 0;
}

.tabs_button_add_rect
{
    background: url('/src/upload/icon/rect.png') no-repeat center center;
    background-size: cover;
}

.tabs_button_add_triangle
{
    background: url('/src/upload/icon/triangle.png') no-repeat center center;
    background-size: cover;
}

.tabs_button_add_circle
{
    background: url('/src/upload/icon/circle.png') no-repeat center center;
    background-size: cover;
}