@import '/src/style/font/euclid.css';

// color
$actualColorTitle: #151824;
$actualColorText: #3d3e47;
$actualColorTextNav: #fff;
//$actualAppColorTheme: #c43e1c;
$actualAppColorTheme: #b8195b;


// fonts
$euclidCircularBold: 'Euclid Circular B Bold', sans-serif;
$euclidCircularSemiBold: 'Euclid Circular B SemiBold', sans-serif;
$euclidCircularMedium: 'Euclid Circular B Medium', sans-serif;
$euclidCircularRegular: 'Euclid Circular B Regular', sans-serif;
$euclidCircularLight: 'Euclid Circular B Light', sans-serif;