@import '/src/style/font/euclid.css';

$euclidCircularBold: 'Euclid Circular B Bold', sans-serif;
$euclidCircularSemiBold: 'Euclid Circular B SemiBold', sans-serif;
$euclidCircularMedium: 'Euclid Circular B Medium', sans-serif;
$euclidCircularRegular: 'Euclid Circular B Regular', sans-serif;
$euclidCircularLight: 'Euclid Circular B Light', sans-serif;