@import '../../block/config/_const';

.b-slide
{
    position: relative;
    width: 100%;
    max-width: 1700px;
    max-height: 1000px;
    margin: 15px auto;
    border: 1px solid #ccc;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 10px 30px rgba(163, 172, 192, 0.26);

    &__content-item
    {
        position: absolute;
        width: 100%;
        height: 100%;
    }
}