@import '../../block/config/_const';

.b-slide
{
    border: 1px solid #ccc;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 10px 30px rgba(163, 172, 192, 0.26);
    width: 90%;
    height: 80vh;
}