@import '../../block/config/_const';

.b-slide-list
{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding-bottom: 50px;

    &__wrapper
    {
        position: relative;

        &:not(:last-child)
        {
            margin-bottom: 25px;
        }

        &:last-child
        {
            position: relative;

            &::after
            {
                position: absolute;
                right: 0;
                bottom: -10px;
                left: 0;
                height: 2px;
                margin: auto;
                content: '';
                animation: glowing 1.5s linear infinite;
                background: #b7472a;

                @keyframes glowing
                {
                    0%
                    {
                        width: 0;
                    }
                    100%
                    {
                        width: 100%;
                    }
                }
            }
        }
    }

    &__content
    {
        width: 160px;
        height: 100px;
        border: 1px solid #ccc;
        border-radius: 8px;
        background: #fff;
        box-shadow: 0 10px 30px rgba(163, 172, 192, 0.26);
    }

    &__slide
    {
        &_count
        {
            font: 400 14px/1 $euclidCircularRegular;
            position: absolute;
            top: 5px;
            left: -15px;
            display: block;
            margin-right: 5px;
            color: $actualColorTitle;
        }
    }
}