.main
{
    padding: 10px 0;
    background: var(--main-color);
}

.wrapper
{
    overflow: hidden;
    max-width: 500px;
    height: 20px;
    margin: 0 auto;
}

.title
{
    font: 400 16px/1 'Euclid Circular B Regular', sans-serif;
    width: max-content;
    margin: 0 auto;
    text-align: center;
    color: #fff;
}