.footer
{
    position: fixed;
    z-index: 1;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #a2a2a2;
    background: #dcdcdc;
    padding: 5px 50px;
}

.count
{
    font: 300 12px/1 'Euclid Circular B Light', sans-serif;
    color: #3d3e47;
}