.slide
{
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 70%;
    max-height: 1000px;
    margin: 15px auto;
    user-select: none;
    transition: .3s;
    border: 1px solid #ccc;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 20px 30px rgba(163, 172, 192, 0.26);
}

.slide_item_resize
{
    position: absolute;
    z-index: 2;
}

.slide_item_resize.se
{
    width: 5px;
    height: 5px;
    background-color: black;
    bottom: -1px;
    right: -1px;
    cursor: se-resize;
}

.slide_item
{
    position: absolute;
    user-select: none;
}

.slide_item_content
{
    width: 100%;
    height: 100%;
    padding: 2px;
}

.slide_item_text
{
    margin: 10px;
    user-select: none;
    border: 1px dashed transparent;
}

.slide_item_text_content
{
    padding: 10px;
}

/* .slide_item:hover,
.slide_item_text_content:hover
{
    padding: 2px;
    cursor: grabbing;
    transition: .3s;
    border: 1px dashed #3498db;
    box-shadow: 0 10px 30px rgb(163 172 192 / 26%);
} */

.slide_item_active
{
    cursor: grabbing;
    border: 1px dashed #3498db;
    border-radius: 5px;
    box-shadow: 0 10px 30px rgb(163 172 192 / 26%);
}

@media screen and (min-width: 1400px)
{
    .slide
    {
        max-width: 70%;
    }
}

@media screen and (min-width: 2500px)
{
    .slide
    {
        max-width: 1700px;
    }
}
