@import '/src/style/font/euclid.css';

:root
{
    --main-color: rgba(0, 149, 255, 0.8);
}

body
{
    position: relative;
    overflow: hidden;
}

[contenteditable]:focus
{
    outline: 0 solid transparent;
}

.presentation
{
    background: #ececec;
}