@import '/src/style/font/euclid.css';

:root
{
    --main-color: #33aaff;
}

body
{
    position: relative;
    overflow: hidden;
}

[contenteditable]:focus
{
    outline: 0 solid transparent;
}

.presentation
{
    background: #ececec;
}