.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.toolbar {
  max-width: 771px;
  display: block;
  white-space: nowrap;
  height: 26px;
  overflow: visible;
}

.companion-enabled {
  background: #f8f9fa;
}

.two-panel-layout {
display: flex;
  border-collapse: collapse;
  width: 100%;
}

.filmstrip {
  background: #fff;
  padding: 0;
  position: relative;
  white-space: nowrap;
  min-width: 220px;
}

.slide {
  width: 50px;
  height: 30px;
}

.slide-view {
  position: relative;
  border-collapse: collapse;
}

.workspace-container {
  height: 463px;
  width: 601px;
  overflow: hidden;
  visibility: inherit;
}

.btn {
  height: 24px;
  min-width: 24px;
  background: #61dafb;
}

.title {
  border: 1px solid transparent;
  border-radius: 2px!important;
  color: #000000;
  font-size: 18px;
  font-variant-ligatures: no-contextual;
  height: 20px;
  line-height: 22px;
  margin: 0;
  min-width: 1px;
  padding: 2px 7px;
}
